body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header-section {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.header-section nav{
      display: flex;
      align-items: center;
}
.header-section nav a{
color: #FF6060;
text-decoration: none;
padding: 10px;
font-size: 24px;
}
.mm{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #F6F6F6;
    margin: 40px;
    border-radius: 10px; 
     position: relative;

}
.card{
  margin: 20px;
  border-radius: 10px;
  width: 350px;
  height: 350px;
  position: relative;
}
.card img{
  width: 350px;
  height: 350px;
  object-fit: cover;

}

.card p{
  color: white;
  position: absolute;
  bottom: 0;
}
.banner{
  text-align: center;
}
.banner img{
  width: 1300px;
  height: 223px;
  border-radius: 10px;
  object-fit: cover;
}
footer{
  background-color: black;
}
.footer-section {
padding: 20px 0px;
  text-align: center;
}
.footer-section p{
  color: #fff;
}
.tags p{
  background: #FF6060;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    color: white;
    margin-right: 10px;
}
.tags{
  display: flex;
}
.logement-detail .title{
  color: #FF6060;
}
.logement-detail .location{
  color: #FF6060;
}